<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
</head>

<body>
    <header>
        <nav>
            <a href="/" class="home">
                <div class="bg"></div>
                <div class="home">Home</div>
            </a>
            <a href="/my-stuff" class="mystuff">
                <div class="bg"></div>
                <div class="my-stuff">My Stuff</div>
            </a>
            <a href="/synctan" class="synctan">
                <div class="bg"></div>
                <div class="synctan">Synctan</div>
            </a>
            <a href="uhh" class="uhh">
                <div class="bg"></div>
                <div class="uhh">Uhh</div>
            </a>
        </nav>
    </header>
    {{ content }}

    <div class="bggg"></div>
    <img class="bggg" src="/img/bg.png" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="global.js"></script>
</body>

</html>
